@import "tailwindcss";


body {
  @apply bg-[#021402]; /* Apply your desired background color here */
}

/* font-telma */
@font-face {
  font-family: "telmaB";
  src: url("./fonts/Telma-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-telmaB: "telmaB", system-ui, sans-serif;
}

@utility font-telmaB {
  font-family: var(--font-telmaB);
}

/* satoshi font */
@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-satoshi: "Satoshi", system-ui, sans-serif;
}

@utility font-satoshi {
  font-family: var(--font-satoshi);
}

/* satoshi bold font */
@font-face {
  font-family: "Satoshi-Bold";
  src: url("./fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-satoshib: "Satoshi-Bold", system-ui, sans-serif;
}

@utility font-satoshib {
  font-family: var(--font-satoshib);
}

/* satoshi-medium */
@font-face {
  font-family: "Satoshi-Medium";
  src: url("./fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-satoshim: "Satoshi-Medium", system-ui, sans-serif;
}

@utility font-satoshim {
  font-family: var(--font-satoshim);
}


@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  svg {
    shape-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
  }
}
